@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Override default variables before the import
$body-bg: #000;
$body-color: #fff;
$font-family-base: 'Poppins', 'sans-serif';


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

h5 {
    font-size: 1rem;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}