@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Override default variables before the import
$body-bg: #000;
$body-color: #fff;
$font-family-base: 'Poppins', 'sans-serif';

$theme-colors: (
    "primary": #FF0066
);
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

h5 {
    font-size: 1rem;
}